<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{block "title" . }}{{ .Site.Title }}{{end}}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css" />

        <!-- IndieWeb Stuff -->
        {{ with .Params.authorization_endpoint }}
        <link rel="authorization_endpoint" href="{{ . }}">
        {{ end }}
        {{ with .Params.token_endpoint }}
        <link rel="token_endpoint" href="{{ . }}">
        {{ end }}
        {{ with .Params.microsub }}
        <link rel="microsub" href="{{ . }}">
        {{ end }}
    </head>

    <body>
    {{ partial "header.html" . }}

    <div>
        {{ block "main" . }} {{ end }}
    </div>

    {{ partial "footer.html" . }}
    </body>
</html>
